.wrapper {
  overflow: auto;
  cursor: grab;
}

.wrapper > * {
  transition: 0.3s;
  transform: scale(1);
  transform-origin: 0 0;
}

.wrapper img {
  display: block;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.is-dragging {
  cursor: grabbing;
}

.disabled {
  cursor: auto;
}
