.wrapper {
  overflow: auto;
  cursor: grab;
}

.wrapper img {
  display: block;
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.is-dragging {
  cursor: grabbing;
  scroll-behavior: auto !important;
}

.disabled {
  cursor: inherit;
}
